html,
body {
  margin: 0;
  padding: 0;

  background-color: #efefef;

  color: #555;
  font: normal 100%/1.5 sans-serif;
  text-align: center;
}

body {
  margin: 0 auto;
  padding: 1px 0 1.5em;
  width: 642px;
}

a,
a:link,
a:visited {
  color: #333;
}

code {
  font-size: 1.25em;
  line-height: 1;
}

h1 {
  margin: 1em 0 0.75em;
  padding: 0;
}

.setup {
  margin: 0 0 1.5em;
  max-width: 80%;
  padding: 0;

  font-size: 1.25em;
  list-style-type: none;
  text-align: left;
}

.setup li {
  margin: 0 0 0.75em;
  position: relative;
}

.setup-download:before {
  content: "⬇";
  left: -1.2em;
  position: absolute;
  top: 0.1em;
  width: 1em;

  color: #aaa;
  text-align: right;
}

.steps {
  margin: 0 auto;
  padding: 0;

  list-style-type: none;
}

.step {
  margin: 0 0 1.5em;
  padding: 0;
  position: relative;
}

.step-caption {
  margin: 0.375em 1.5em 0;
}

.step-img {
  display: block;
  margin: 0;
  padding: 0;

}

.step-img-wrap {
  overflow: hidden;

  border: 1px solid #999;
  border-radius: 5px;
}

.overlays {
  left: 0;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  width: 100%;

  font-size: 0.875em;
  list-style-type: none;
}

.overlay {
  position: absolute;

  line-height: 1.3;
  text-align: left;
}

.overlay-text {
  display: inline-block;
  padding: 0.1em 0.3em 0.3em;

  background-color: rgba(255,51,51,0.7);
  border: 4px solid rgba(255,51,51,0.05);
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;

  color: #fff;
  font-weight: bold;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.4);
}

.overlay-under .overlay-text {
  display: block;

  border-bottom-left-radius: 4px;
}

.overlay-over .overlay-text {
  display: block;

  border-top-left-radius: 4px;
}

.overlay-box {
  display: inline-block;
  padding: 0.1em 0.3em 0.3em;

  border: 4px solid #f33;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
}

.overlay-under .overlay-box {
  border-bottom-left-radius: 0;
  border-top-right-radius: 4px;
}

.overlay-over .overlay-box {
  border-bottom-right-radius: 4px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.overlay-url {
  left: 70px;
  position: absolute;
  top: 17px;

  color: #aaa;
  font: normal 0.7em verdana,sans-serif;
}

.arrow {
  position: absolute;
}

.arrow:after {
  content: "";
  bottom: -12px;
  height: 0;
  position: absolute;
  right: -8px;
  width: 0;
  z-index: 100;

  border-color: transparent #f33;
  border-style: solid;
  border-width: 10px 0 10px 10px;
}

.arrow-dr {
  border-left: 4px solid #f33;
  border-bottom: 4px solid #f33;
  border-bottom-left-radius: 15px;
}

.arrow-r {
  border-bottom: 4px solid #f33;
}

.arrow-d,
.arrow-u {
  border-left: 4px solid #f33;
}

.arrow-d:after {
  bottom: -10px;

  border-color: #f33 transparent;
  border-width: 10px 10px 0 10px;
}

.arrow-u:after {
  border: 0;
}

.arrow-u:before {
  content: "";
  top: -10px;
  height: 0;
  position: absolute;
  right: -8px;
  width: 0;
  z-index: 100;

  border-color: #f33 transparent;
  border-style: solid;
  border-width: 0 10px 10px 10px;
}

/**
 * @section bubble-positions
 */

.select-shp {
  left: 38px;
  top: 102px;
}

.select-shp .overlay-box {
  width: 386px;
}

.datum {
  left: 43px;
  top: 197px;
}

.datum .overlay-box {
  width: 375px;
}

.utm {
  left: 63px;
  top: 277px;
}

.utm .overlay-box {
  height: 90px;
  width: 340px;
}

.name-field {
  left: 133px;
  top: 137px;
}

.name-field .overlay-box {
  width: 174px;
}

.click-next {
  left: 274px;
  top: 410px;
}

.click-next .overlay-box {
  width: 67px;
}

.select-all {
  left: 59px;
  top: 343px;
}

.select-all .overlay-box {
  width: 128px;
}

.create-kml {
  left: 54px;
  top: 373px;
}

.create-kml .overlay-box {
  width: 163px;
}

.move-kml {
  left: 78px;
  top: 36px;
}

.move-kml .overlay-box {
  height: 67px;
  width: 63px;
}

.move-www {
  left: 224px;
  top: 280px;
}

.move-www .overlay-box {
  width: 83px;
}

.move-arrow {
  height: 180px;
  left: 110px;
  top: 113px;
  width: 98px;
}

.php-kml {
  left: 174px;
  top: 198px;
}

.php-kml .overlay-box {
  width: 108px;
}

.php-table {
  left: 190px;
  top: 252px;
}

.php-table .overlay-box {
  width: 76px;
}

.url-arrow {
  height: 100px;
  left: 330px;
  top: 46px;
}
